In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import dash
import dash_core_components as dcc
import dash_html_components as html
from jupyter_plotly_dash import JupyterDash

In [3]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = JupyterDash(name='Demo')

app.layout = html.Div(children=[
	html.H1(children='Hello Dash'),
	html.Div(children='''
		Dash: A web application framework for Python.
		'''),

	dcc.Graph(
		id='example-graph',
		figure={
			'data': [
					{'x': [1, 2, 3], 'y': [4, 1, 2], 'type': 'bar', 'name': 'SF'},
					{'x': [1, 2, 3], 'y': [2, 4, 5], 'type': 'bar', 'name': 'ABC'},
					],
			'layout': {
					'title': 'Dash Demo'
			}
		})])

if __name__ == '__main__':
	app

In [6]:
df = pd.read_excel('C:/Users/duska/Desktop/Book1.xlsx')

In [7]:
df.columns

Index(['From', 'TRIAL CODE', 'UNIT No.', 'REG No', 'OIL CODE ', 'OIL KM's',
       'ENGINE KM's', 'SAMPLE ID / LAB ID', 'SAMPLE DATE (yyyy/mm/dd)',
       'FUEL TYPE', 'WATER % D6304', 'KV @ 100 D445', 'KV @ 40 D445',
       'VI D2270', 'OXIDATION A/cm E2412', 'NITRATION  A/cm E2412',
       'FUEL DILLUTON %', 'GLYCOL TEST\n%\nD4291', 'SOOT A/cm\nE2412',
       'SOOT \n% E2412', 'Pentene Insolubles\n%\nD 893', 'SOOT % (TGA)',
       'TBN mgKOH/g D4739', 'TBN mgKOH/g \nD2896', 'TAN mgKOH/g D664',
       'Iron ppm FE', 'Chromium ppm CR', 'Nickel ppm NI', 'Aluminum ppm AL',
       'Lead ppm PB', 'Copper ppm CU', 'Tin ppm SN', 'Silver ppm AG',
       'Titanium ppm TI', 'Silicon ppm  SI', 'Boron ppm  B', 'Sodium ppm  NA',
       'Potassium ppm K', 'Molybdenum ppm  MO', 'Phosphorus  P', 'Zinc  ZN',
       'Calcium CA', 'Barium BA', 'Magnesium  MG', 'Antimony', 'Vanadium',
       'MD\nD7899', 'IC\n%\nD7899', 'DP\nD7899', 'Flash point\n>/<180',
       'Ferrography', 'PQ　Index', 'Unnamed: 52', 'TBN - TAN\n（D4739）',
       'Unnamed: 54', 'TEST\nComplete (mm/dd/yyyy)', 'SGS Batch Code',
       'Unnamed: 57', 'TOP \nTREAT\n\nBefore\n/After\n(L)', 'Unnamed: 59',
       'OIL\nFILTER', 'AIR\nFILTER', 'FUEL\nFILTER',
       'Fuel S Contain \nppm\nD2622', 'Comments'],
      dtype='object')

In [9]:
df["OIL KM's"] = pd.to_numeric(df["OIL KM's"], errors='corece')

In [10]:
df1 = df.dropna(how='all')

In [12]:
df1[df1["OIL KM's"].isnull()]

,From,TRIAL CODE,UNIT No.,REG No,OIL CODE,OIL KM's,ENGINE KM's,SAMPLE ID / LAB ID,SAMPLE DATE (yyyy/mm/dd),FUEL TYPE,...,TEST Complete (mm/dd/yyyy),SGS Batch Code,Unnamed: 57,TOP TREAT Before /After (L),Unnamed: 59,OIL FILTER,AIR FILTER,FUEL FILTER,Fuel S Contain ppm D2622,Comments
144,JINGYAN,FT-SH-011,SH081,沪EH2397,DRAINED,NaN,64008,SLH051X13,2018-03-02,Diesel,...,2018-03-20 00:00:00,SO18-02170.001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN